.App{
  background-color: #cbcbcb;
  position: absolute;
  width: 100%;
}
.app-top{
  margin-top: 20px;
}

section{
  display: flex;
  flex-direction: column;
}
span{
  font-size: 10px;
  text-align: left;
  color: black;
  font-weight: bold;
}
.chart2{
  margin-top: 20px;
  margin-left: 20px;
  fill: rgb(192, 185, 192);
}
.card{
  border-radius: 5px;
  width: 320px;
}
.app-top {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.class-body{
  display: flex;
  flex-wrap: wrap;
  color: orangered;
  margin-left: 30px;
}

.bar{
  margin-top: 20px;
}
.table-body{
  /* margin: 50px; */
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.inside-table{
  background-color: white;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.shape{
  display: flex;
}
.trapezoid {
	border-bottom: 30px solid rgb(209, 224, 240);
	border-left:solid transparent;
  border-top-left-radius: 8px;
	border-right: 15px solid transparent;
	height: 0;
	width: 120px;
  font-size: 12px;
  font-weight: bold;
  color: #887d7d;
  text-align:center;
}
.recipes{
  color: blueviolet;
  border-bottom: 30px solid #fff;
}
table{
  background-color: white;
}
thead{
  font-size: 11px;
}
tbody{
  font-size: 11px;
}
tbody:nth-child(even) {
  background-color: #f2f2f2;
}
tbody:nth-child(odd) {
  background-color: #b6cbe7;
}
.chart-body{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: center;
}
tbody tr:hover{
  background-color: blanchedalmond;
}